# 强化学习算法通用配置
rl:
  algorithm: "A2C"

  # 通用超参
  seed: 42
  num_envs: 1                  # 并行环境数
  num_episodes: 100    # 训练回合数
  total_timesteps: 1_000_000
  log_interval: 100          # 每多少步记录一次日志
  save_freq: 10            # 每多少回合保存一次模型
  continue_a2c: True    # 是否继续训练，如果需要继续训练，则需要填写模型地址
  model_path_a2c: 'checkpoints/20260112/a2c-v1.0_Town06_Opt_204520_episode=40.pth'
  continue_ocp: True    # 是否继续训练，如果需要继续训练，则需要填写模型地址
  model_path_ocp: 'checkpoints/20260113/ocp-v1.0_Town06_Opt_142635_episode=10.pth'

  A2C:
    lr_actor: 3e-3
    lr_critic: 3e-3
    gamma: 0.99
    ent_coef: 0.01
    vf_coef: 0.5
    max_grad_norm: 0.5
    hidden_dim: 256
    min_start_train: 128    # 最小启动训练样本数
    total_capacity: 500000  # 缓冲区容量
    batch_size: 128

  OCP:
    amplifier_c: 1.1
    amplifier_m: 10000 # x更新一次m
    lr_actor: 1e-4
    lr_critic: 1e-4
    init_penalty: 1.0  # 初始惩罚系数
    max_penalty: 10
    hidden_dim: 256
    other_car_min_distance: 1.0   # 与周车最小距离
    road_min_distance: 0.5    # 与路边缘最小距离
    min_start_train: 128    # 最小启动训练样本数(轨迹数)
    total_capacity: 50000  # 缓冲区容量(轨迹数)
    batch_size: 128