# 强化学习算法通用配置
rl:
  algorithm: "A2C"

  # 通用超参
  seed: 42
  num_envs: 1                  # 并行环境数
  num_episodes: 2    # 训练回合数
  total_timesteps: 1_000_000
  log_interval: 100          # 每多少步记录一次日志
  save_freq: 1            # 每多少回合保存一次模型
  continue_a2c: False    # 是否继续训练，如果需要继续训练，则需要填写模型地址
  model_path_a2c: 'checkpoints/20260112/a2c-v1.0_Town06_Opt_133243_episode=100.pth'
  continue_ocp: False    # 是否继续训练，如果需要继续训练，则需要填写模型地址
  model_path_ocp:

  A2C:
    lr_actor: 3e-3
    lr_critic: 3e-3
    gamma: 0.99
    ent_coef: 0.01
    vf_coef: 0.5
    max_grad_norm: 0.5
    use_gae: False
    gae_lambda: 0.95
    hidden_dim: 256

