# 强化学习算法通用配置
rl:
  algorithm: "A2C"

  # 通用超参
  seed: 42
  num_envs: 1                  # 并行环境数
  num_episodes: 5000    # 训练回合数
  total_timesteps: 1_000_000
  log_interval: 1000          # 每多少步记录一次日志
  save_freq: 100            # 每多少回合保存一次模型
  continue_a2c: False    # 是否继续训练，如果需要继续训练，则需要填写模型地址
  model_path_a2c: 'checkpoints/20260112/a2c-v1.0_Town06_Opt_204520_episode=40.pth'
  continue_ocp: True    # 是否继续训练，如果需要继续训练，则需要填写模型地址
  model_path_ocp: 'checkpoints/20260116/ok-ocp-v1.0_Town06_Opt_094108_episode=4800.pth'
  num_eps_eval: 10    # 评估步数

  A2C:
    lr_actor: 3e-3
    lr_critic: 8e-3
    gamma: 0.99
    ent_coef: 0.01
    vf_coef: 0.5
    max_grad_norm: 0.5
    hidden_dim: 256
    min_start_train: 256    # 最小启动训练样本数
    total_capacity: 4096  # 缓冲区容量
    batch_size: 2048   # n-step

  OCP:
    gamma: 0.95
    amplifier_c: 1.1
    amplifier_m: 1000 # x更新一次m
    lr_actor: 3e-4
    lr_critic: 1e-3
    init_penalty: 1.0  # 初始惩罚系数
    max_penalty: 100
    hidden_dim: 256
    other_car_min_distance: 1.0   # 与周车最小距离
    road_min_distance: 0.5    # 与路边缘最小距离
    min_start_train: 2    # 最小启动训练样本数(轨迹数)
    total_capacity: 50000  # 缓冲区容量(轨迹数)
    batch_size: 4     # 每批次计算4条轨迹